@import "src/variables";

.menu-container {
  height: 100%;
  background: $primary-color;
  color: white;
  width: 82px;
  transition: all 0.2s;

  &:hover {
    width: 380px;

    & ::ng-deep mat-list-item {
      & > .mat-list-item-content > .mat-list-text {
        max-width: 400px;
        opacity: 1;
      }

      & > .mat-list-item-content > mat-icon.dropdown-icon {
        max-width: 400px;
      }
    }

    .logo-container {
      mat-icon {
        font-size: 75px;
        width: 75px;
        height: 75px;
        margin-right: 30px;
      }

      .logo-text {
        max-width: 400px;
        opacity: 1;
      }
    }

    .submenu-container.open {
      max-height: 112px;
    }
  }

  .logo-container {
    padding: 20px 0;

    .logo-text {
      max-width: 0;
      transition: max-width 0.2s, opacity 0.1s;
      overflow: hidden;
      opacity: 0;
    }

    mat-icon {
      font-size: 40px;
      height: 40px;
      width: 40px;
      transition: all 0.2s;
      padding-left: 20px;
      margin: 0;
    }

    h1 {
      margin: 0;
      letter-spacing: 5px;
      font-size: 30px;
      white-space: nowrap;
    }

    p {
      margin: 0;
      font-size: 12px;
      white-space: nowrap;
    }
  }

  .submenu-container {
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s;

    &.open {
      max-height: 0;
      transition: all 0.2s;
    }
  }

  mat-nav-list {
    width: 100%;
    margin-top: 150px;
  }

  & ::ng-deep mat-list-item {
    color: white;

    & > .mat-list-item-content > .mat-list-text {
      max-width: 0;
      opacity: 0;
      transition: max-width 0.2s, opacity 0.1s;
    }

    & > .mat-list-item-content > mat-icon.dropdown-icon {
      max-width: 0;
      transition: all 0.2s;
      overflow: hidden;
    }

    &.active-link {
      color: $accent-color;
    }

    mat-icon.mat-list-icon {
      font-size: 40px;
      height: 40px;
      width: 40px;
    }

    h4.mat-line {
      font-family: Roboto, "Helvetica Neue", sans-serif;
      font-size: 18px;
      font-weight: normal;
      user-select: none;
    }
  }

  .flex-grow-6 {
    flex-grow: 6;
  }
}
