@import "src/variables";

.menu-container {
  height: 100%;
  background: $primary-color;
  color: white;

  .logo-container {
    padding: 20px 0;

    mat-icon {
      font-size: 75px;
      height: 75px;
      width: 75px;
      margin: 0 10px;
    }

    h1 {
      margin: 0;
      letter-spacing: 5px;
      font-size: 30px;
    }

    p {
      margin: 0;
      font-size: 12px;
    }
  }

  .submenu-container {
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s;

    &.open {
      max-height: 112px;
    }
  }

  & ::ng-deep mat-list-item {
    color: white;

    &.active-link {
      color: $accent-color;

      h4.mat-line {
        font-weight: 600;
      }
    }

    mat-icon.mat-list-icon {
      font-size: 40px;
      height: 40px;
      width: 40px;
    }

    h4.mat-line {
      font-family: Roboto, "Helvetica Neue", sans-serif;
      font-size: 18px;
      font-weight: normal;
      user-select: none;
    }
  }

  .flex-grow-6 {
    flex-grow: 6;
  }
}
