<mat-list-item>
  <div class="h-100 w-100 d-flex align-items-center justify-content-between py-2">
    <div class="d-flex align-items-center left-cell">
      <fa-icon [icon]="getIcon(data.currentBoard.gameIdentifier)"></fa-icon>
      <div>
        <div fxLayoutAlign="start center" fxLayoutGap="10px">
          <h4>{{ getGameTypeDisplayName() }} játék</h4>
        </div>
        <p class="gray-text" *ngIf="isInProgress()">Legutóbbi lépés: {{ getLastMoveText() }}</p>
        <p class="gray-text" *ngIf="!isInProgress()">Befejezve: {{ getLastMoveText() }}</p>
        <p class="gray-text" *ngIf="isInProgress()">{{ getCurrentPlayerText() }}</p>
      </div>
    </div>
    <div fxLayout="center center" fxLayoutGap="12px">
      <app-player *ngFor="let player of data.players" [username]="player.username" [iconSize]="45"></app-player>
    </div>
    <div class="right-cell">
      <button mat-button color="primary" (click)="onPlayClicked()" *ngIf="isInProgress()">
        <mat-icon matPrefix>play_arrow</mat-icon>
        <span>JÁTÉK</span>
      </button>
      <span *ngIf="!isInProgress()">{{ getWinnerText() }}</span>
    </div>
  </div>
</mat-list-item>

