<mat-card class="h-100 w-100 mat-elevation-z10" fxLayout="column">
  <mat-card-title class="small">Értesítések</mat-card-title>
  <perfect-scrollbar>
    <mat-list fxLayout="column" fxFlex="grow">
      <app-notification-list-item
        [notification]="queueNotification"
        *ngIf="isQueuing | async"
        [hideDelete]="true"></app-notification-list-item>
      <app-notification-list-item
        *ngFor="let notification of notifications"
        [notification]="notification"
        (deleteRequested)="deleteRequested(notification)"></app-notification-list-item>
    </mat-list>
  </perfect-scrollbar>
</mat-card>
