os: windows
language: node_js
node_js:
  - 12
mono: none
solution: Czeum.sln
install:
  - choco install dotnetcore-sdk
  - choco install opencover.portable
  - choco install codecov
script:
  - dotnet restore
  - dotnet build
  - Opencover.Console.exe -register:user -target:"C:/Program Files/dotnet/dotnet.exe" -targetargs:test -output:".\czeum_coverage.xml" -oldstyle
  - C:/ProgramData/chocolatey/lib/codecov/tools/codecov.exe -f "czeum_coverage.xml" -t 91b144ca-11c8-4483-beb4-8dbe24c2c429