<h3>Szűrés</h3>
<div class="d-flex align-items-center justify-content-between">
  <mat-form-field appearance="outline" fxFlex="25%">
    <mat-label>Felhasználónév</mat-label>
    <input autocomplete="off" matInput [formControl]="filterText">
  </mat-form-field>
</div>
<div *ngIf="(filteredRequests$ | async).length === 0"
     class="flex-grow-1 d-flex align-items-center justify-content-center gray-text">
  <mat-icon class="not-found-icon">person_add_disabled</mat-icon>
  <span>Jelenleg nincs {{ filterText.value ? 'a keresési feltételeknek megfelelő' : '' }} bejövő barátkérelmed.</span>
</div>
<perfect-scrollbar class="flex-grow-1" *ngIf="(filteredRequests$ | async).length > 0">
  <mat-list>
    <mat-list-item *ngFor="let request of filteredRequests$ | async">
      <div class="h-100 w-100 d-flex align-items-center justify-content-between py-2">
        <div class="d-flex align-items-center">
          <mat-icon class="list-icon">perm_identity</mat-icon>
          <div>
            <h4>{{ request.senderName }}</h4>
            <p class="gray-text">Elküldve: {{ request.sentAt | date:'yyyy. MM. dd.' }}</p>
          </div>
        </div>
        <div fxLayout fxLayoutGap="10px">
          <button mat-button color="primary" (click)="onAccept(request)">
            <mat-icon matPrefix>done</mat-icon>
            ELFOGADÁS
          </button>
          <button mat-button color="warn" (click)="onReject(request)">
            <mat-icon matPrefix>close</mat-icon>
            ELUTASÍTÁS
          </button>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</perfect-scrollbar>
