<div class="jumbotron">
  <h1 class="display-4">Czeum UserAdmin</h1>
  <p class="lead">Felhasználókezelés, egyszerűen.</p>
  <hr class="my-4">
  <p>A Czeum egy bővíthető keretrendszer szerver-, és kliensalkalmazással társasjátékok valós idejű játékához. Jelenleg két népszerű táblajáték támogatott, a sakk és a Connect4. Ez a portál a felhasználói fiókod kezelésében nyújt segítséget.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Tudj meg többet</a>
  </p>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <div class="card">
      <img class="card-img-top" src="../../../assets/chess.jpg" alt="Sakktábla">
      <div class="card-body">
        <h5 class="card-title">Sakk</h5>
        <p>A sakkot szinte mindenki ismeri valamilyen szinten, a nagymúltú táblajáték egyike a játszható játékainknak. A játék célja az ellenfél királyának olyan helyezetbe hozása, hogy ne tudja elkerülni a leütést.</p>
        <a href="#" class="btn btn-primary">Szabályok</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="card">
      <img class="card-img-top" src="../../../assets/connect4-table.jpg" alt="Connect4 tábla">
      <div class="card-body">
        <h5 class="card-title">Connect4</h5>
        <p>A Connect4 egy viszonylag ismert, gyerekeknek szánt társasjáték. A cél az, hogy a játékos 4 egyforma színű korongot helyezzen el egymás mellett vízszintesen, függőlegesen vagy átlósan.</p>
        <a href="#" class="btn btn-primary">Szabályok</a>
      </div>
    </div>
  </div>
</div>

<!--<h2>Czeum felhasználókezelési felület</h2>
<p>Üdvözlünk a Czeum felhasználókezelői felületén. Itt létrehozhatod fiókodat, vagy módosíthatod az adataidat.</p>
<h3>Mi az a Czeum?</h3>
<p>A Czeum egy bővíthető társasjáték keretrendszer, amellyel tetszőleges körökre osztott táblajáték játszható valós időben.
  A játék nem ezen az oldalon keresztül történik, hanem a Windows platformon elérhető kliensünkön keresztül.
  Bármikor felállhatsz és folytathatod később a meccseket, egyszerre pedig akár több meccsben is benne lehetsz, nincs semmi megkötés!</p>
<h3>Milyen játékok játszhatók jelenleg?</h3>
<p>Jelenleg kétféle játékmód támogatott, a sakk és a Connect4, de a későbbiekben a támogatott játékok száma bővülni fog további tábla, illetve kártyajátékokkal.</p>
<div class="row align-items-center">
  <div class="col-12 col-md-6"><img class="img-fluid" src="../../../assets/chess.jpg" alt="Sakktábla"></div>
  <div class="col-12 col-md-6"><img class="img-fluid" src="../../../assets/connect4-table.jpg" alt="Connect4 tábla"></div>
</div>
<p>Ezenfelül lehetőség van barátokat bejelölni, velük közös meccseket indítani, de akár véletlenszerű játékot is kezdhetsz egyedül.
  Meccs közben, illetve a meccsre várakozás közben pedig chat szolgáltatást nyújtunk.</p>-->
