<h2>Czeum felhasználókezelési felület</h2>
<p>Üdvözlünk a Czeum felhasználókezelői felületén. Itt létrehozhatod fiókodat, vagy módosíthatod az adataidat.</p>
<h3>Mi az a Czeum?</h3>
<p>A Czeum egy bővíthető társasjáték keretrendszer, amellyel tetszőleges körökre osztott táblajáték játszható valós időben.
  A játék nem ezen az oldalon keresztül történik, hanem a Windows platformon elérhető kliensünkön keresztül.
  Bármikor felállhatsz és folytathatod később a meccseket, egyszerre pedig akár több meccsben is benne lehetsz, nincs semmi megkötés!</p>
<h3>Milyen játékok játszhatók jelenleg?</h3>
<p>Jelenleg kétféle játékmód támogatott, a sakk és a Connect4, de a későbbiekben a támogatott játékok száma bővülni fog további tábla, illetve kártyajátékokkal.</p>
<div class="row align-items-center">
  <div class="col-12 col-md-6"><img class="img-fluid" src="../../../assets/chess.jpg" alt="Sakktábla"></div>
  <div class="col-12 col-md-6"><img class="img-fluid" src="../../../assets/connect4-table.jpg" alt="Connect4 tábla"></div>
</div>
<p>Ezenfelül lehetőség van barátokat bejelölni, velük közös meccseket indítani, de akár véletlenszerű játékot is kezdhetsz egyedül.
  Meccs közben, illetve a meccsre várakozás közben pedig chat szolgáltatást nyújtunk.</p>
