$dark-color: #202020;

:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.chess-board {
  border: 3px solid $dark-color;
  border-radius: 10px;

  .chess-cell {
    &.black {
      background-color: $dark-color;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}
