<app-game-details
  [matchStatus]="matchStatus"
  description="Helyezz el egymás mellé vízszintesen, függőlegesen vagy átlósan 4 egyforma színű korongot az ellenfeled előtt!"
  gameTypeName="Connect4"></app-game-details>
<div #boardContainer class="flex-grow-1 d-flex align-items-center justify-content-center">
  <div *ngIf="matchStatus" class="d-inline-block mat-elevation-z10 connect4-board">
    <div class="connect4-row" *ngFor="let row of matchStatus.currentBoard.content.board"
         [ngStyle]="{ height: cellSize + 'px' }">
      <div
        *ngFor="let cell of row; let column = index" class="h-100 connect4-cell"
        [ngStyle]="{ width: cellSize + 'px' }"
        (click)="columnClicked(column)"
        (mouseenter)="onMouseEnter(column)"
        (mouseleave)="omMouseLeave(column)"
        [ngClass]="{ 'hover': columnHover[column] }">
        <div class="connect4-circle mat-elevation-z3" [ngClass]="{
          'red': cell === connect4Items.Red,
          'yellow': cell === connect4Items.Yellow
        }">
        </div>
      </div>
    </div>
  </div>
</div>
