<div class="container h-100">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Regisztráció</h2>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
            <div class="form-group">
              <label for="username">Felhasználónév</label>
              <input id="username" name="username" type="text" class="form-control" [ngClass]="{'is-invalid': validator.fieldHasError('username')}" formControlName="username" required appBackendValidator [context]="usernameValidationContext">
              <div class="invalid-feedback" *ngIf="validator.fieldHasError('username', 'required')">Kötelező</div>
              <div class="invalid-feedback" *ngIf="validator.notEmptyAndHasError('username', 'backend')">A felhasználónév már foglalt</div>
            </div>
            <div class="form-group">
              <label for="email">E-mail</label>
              <input id="email" name="email" type="email" class="form-control" [ngClass]="{'is-invalid': validator.fieldHasError('email')}" formControlName="email" required email appBackendValidator [context]="emailValidationContext">
              <div class="invalid-feedback" *ngIf="validator.fieldHasError('email', 'required')">Kötelező</div>
              <div class="invalid-feedback" *ngIf="validator.notEmptyAndHasError('email', 'email')">Nem megfelelő formátum</div>
              <div class="invalid-feedback" *ngIf="validator.notEmptyAndHasError('email', 'backend')">Az e-mail cím már foglalt</div>
            </div>
            <div class="form-group">
              <label for="password">Jelszó</label>
              <input id="password" name="password" type="password" class="form-control" [ngClass]="{'is-invalid': validator.fieldHasError('password')}" formControlName="password" required minlength="6" appPasswordValidator appReverseMatchValue [comparedFieldNames]="['confirmPassword']">
              <div class="invalid-feedback" *ngIf="validator.fieldHasError('password', 'required')">Kötelező</div>
              <div class="invalid-feedback" *ngIf="validator.notEmptyAndHasError('password', 'minlength')">Legalább 6 karakter szükséges</div>
              <div class="invalid-feedback" *ngIf="validator.notEmptyAndHasError('password', 'password')">Kisbetű, nagybetű és szám megadása kötelező</div>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Jelszó megerősítése</label>
              <input id="confirmPassword" name="confirmPassword" type="password" class="form-control" [ngClass]="{'is-invalid': validator.fieldHasError('confirmPassword')}" formControlName="confirmPassword" required appMatchValue comparedField="password">
              <div class="invalid-feedback" *ngIf="validator.fieldHasError('confirmPassword', 'required')">Kötelező</div>
              <div class="invalid-feedback" *ngIf="validator.notEmptyAndHasError('confirmPassword', 'matchValue')">A jelszavak nem egyeznek</div>
            </div>
            <div class="d-flex justify-content-between">
              <button type="button" class="btn btn-link" [routerLink]="['/login']">Vissza a bejelentkezéshez</button>
              <button type="submit" class="btn btn-primary" [disabled]="isLoading">
                <span class="spinner-border spinner-border-sm" *ngIf="isLoading"></span>
                Regisztráció
              </button>
            </div>
            <div class="alert alert-success alert-dismissible mt-3" *ngIf="registerSuccessful">
              Sikeres regisztráció. A megerősítő e-mailt megküldtük a megadott címre!
            </div>
            <div class="alert alert-danger alert-dismissible mt-3" *ngIf="registerFailed">
              Sikertelen regisztráció. Ellenőrizd a megadott adatokat!
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
