<h2>Barátok kezelése</h2>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['friend-list']">Barátlista</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['sent-requests']">Bejövő kérelmek</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['received-requests']">Kimenő kérelmek</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['new-request']">Új barát felvétele</a>
  </li>
</ul>

<router-outlet></router-outlet>