/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.spinner-large {
  width: 8em;
  height: 8em;
  border-width: 0.5em;
}
