/* You can add global styles to this file, and also import other style files */

@import "~bootstrap-4-grid/scss/grid";
@import "variables";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins', sans-serif; background: #F2F2F2; }

mat-card.mat-card {
  border-radius: 15px;

  mat-card-title {
    font-size: 30px;
    font-weight: 600;

    &.small {
      font-size: 25px;
    }
  }
}

$custom-typography: mat-typography-config(
  $font-family: 'Poppins, sans-serif'
);

@include mat-base-typography($custom-typography);
@include angular-material-typography($custom-typography);

fa-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.snackbar {
  background: $primary-color;
  color: white;
}

simple-snack-bar button {
  color: $accent-color !important;
}

.gray-text {
  color: gray;
}

mat-icon.not-found-icon {
  font-size: 100px;
  height: 100px;
  width: 100px;
}

mat-dialog-container.mat-dialog-container {
  border-radius: 15px;
}
