<mat-card class="mat-elevation-z10 h-100 w-100" fxLayout="column">
  <mat-card-title class="d-flex align-items-center">
    <span>Saját szobám ({{ currentGameTypeName }})</span>
    <button mat-icon-button matTooltip="Szoba elhagyása" (click)="onLobbyLeave()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-card-title>
  <div fxLayout fxLayoutGap="10px">
    <mat-form-field appearance="outline" fxFlex="30%">
      <mat-label>Szobanév</mat-label>
      <input type="text" matInput [(ngModel)]="currentLobbyName" [disabled]="!(isHost() | async)">
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="30%">
      <mat-label>Hozzáférés</mat-label>
      <mat-select [(value)]="currentLobbyAccess" [disabled]="!(isHost() | async)">
        <mat-option *ngFor="let access of lobbyAccesses" [value]="access">{{ access.displayName }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <h2>Játékosok</h2>
  <div fxFlex="grow" fxLayoutAlign="center center" fxLayoutGap="50px">
    <div class="d-flex flex-column align-items-center position-relative">
      <mat-icon class="host-icon">star</mat-icon>
      <mat-icon class="player-icon">perm_identity</mat-icon>
      <span>{{ (currentLobby | async).content.host }}</span>
    </div>
    <div class="d-flex flex-column align-items-center" *ngFor="let guest of (currentLobby | async).content.guests">
      <mat-icon class="player-icon">perm_identity</mat-icon>
      <span>{{ guest }}</span>
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex">
      <mat-icon class="error-message" *ngIf="startErrorMessage">warning</mat-icon>
      <span class="error-message">{{ startErrorMessage }}</span>
    </div>
    <button mat-raised-button color="primary" [disabled]="!(canStart() | async)" (click)="onGameStart()">JÁTÉK INDÍTÁSA</button>
  </div>
</mat-card>
