.player-icon {
  font-size: 120px;
  height: 120px;
  width: 120px;
}

.host-icon {
  font-size: 40px;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
}

.error-message {
  color: gray;
}

.button-container {
  padding-bottom: 10px;
}
