@import "src/variables";

.button-container {
  height: 100%;
  padding-bottom: 1.34375em;
  display: flex;
  align-items: center;
}

.gray-text {
  color: gray;
}

:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  mat-list-item {
    h4 {
      margin: 0;
      font-size: 20px;
    }

    p {
      margin: 0;
    }

    &:hover {
      background: rgba($primary-color, 0.1);
    }

    &:not(:last-child) {
      border-bottom: 1px solid lightgray;
    }
  }

  & ::ng-deep mat-list-item.mat-list-item {
    height: auto;
  }
}

mat-icon.list-icon {
  font-size: 45px;
  height: 45px;
  width: 45px;
  margin-right: 10px;
}