<h2>Részletek és szabályok</h2>
<h3 class="mt-3">Mi az a Czeum?</h3>
<p>A Czeum egy bővíthető társasjáték keretrendszer, amit szakdolgozatként készítünk, amellyel tetszőleges körökre osztott táblajáték játszható valós időben.
  A játék nem ezen az oldalon keresztül történik, hanem a Windows platformon elérhető kliensünkön keresztül.
  Bármikor felállhatsz és folytathatod később a meccseket, egyszerre pedig akár több meccsben is benne lehetsz, nincs semmi megkötés!</p>
<h3 class="mt-3">Az alkalmazás használata</h3>
<h4>1. Regisztráció</h4>
<p>Az alkalmazás használatához először is regisztrálnod kell, amit itt megtehetsz a felhasználókezelő portálon, vagy a letöltött
  alkalmazást is felhasználhatod erre a célra. A regisztrációt követően egy e-mailt küldünk neked, melyben egy linket/kódot találsz melyekkel
  megerősítheted az e-mail címedet. Az e-mail cím megerősítésével kapcsolatos minden szükséges információt megtalálsz a levélben.
  A címed megerősítése után bejelentkezhetsz az alkalmazásba, illetve a felhasználókezelő portálra is.</p>
<h4>2. Játék létrehozása</h4>
<p>Játékot többféleképpen lehet létrehozni. A legyszerűbb és legyorsabb módja az, ha csatlakozol a Solo Queue-hoz.
  Ez az egyszerű rendszer jelenleg azonnal párosít bármely más várakozó játékossal, és véletlenszerű játékot hoz létre nektek.</p>
<p>Ezen felül szóbát is hozhatsz létre (publikusat / barátok számára / csak meghívottak számára), ahova meghívhatsz bárkit, kirúghatsz bárkit, illetve egyedi játékbeállításokat is adhatsz meg.
  A szoba beállítása után a szükséges játékosszám elérése után elindítható, ekkor a szoba megszűnik. A szobában chatelési lehetőséget biztosítunk.</p>
<h4>3. Játék</h4>
<p>A játék elindítását követően a meccsek között megtekinthető. Amennyiben te következel itt megteheted az aktuális körben a lépésed.
  Hibás lépés esetén újra próbálkozhatsz. Az alkalmazást bármikor bezárhatod, a meccsed nem veszik el, később folytathatod.
  Emiatt a funkció miatt ez egyfajta offline-online társasjáték platform, mivel a meccsek befejezésére nincs időkorlát megadva.</p>
<p>A játéknak háromféle kimenetele lehet: győzelem, vereség és döntetlen.</p>
<h3 class="mt-3">Játékszabályzatok</h3>
<h4 #chess>Sakk</h4>
<div class="d-flex justify-content-center">
  <img src="../../../assets/chess.jpg" class="w-50 h-auto" alt="Sakktábla">
</div>
<div class="alert alert-warning">
  A játék jelenleg még nem támogat speciálisabb lépéseket az alap lépéseken kívül (pl. sáncolás / en passant)!
</div>
<div class="alert alert-info">
  Alábbiakban olvasható a sakk játék rövid leírása. Amennyiben egy részletesebb leírást szeretnél, <a href="https://hu.wikipedia.org/wiki/Sakk">keresd fel ezt a cikket</a>!
</div>
<h5>A játék célja</h5>
<p>A sakkban a játék célja az ellenfél királyának sakkmatt helyzetbe hozása, amely azt jelenti, hogy a király nem tud menekülni a következő körben a leütése elől.
  Ekkor nyer az ellenfél királyát sakkmattba helyező játékos. Ha a király nincs sakkban, de az őt irányító játékos nem tud egyetlen szabályos lépést se tenni, a játék döntetlennel (patt) ér véget.</p>

<h5>A bábuk</h5>
<p>A sakkban a játékos minden körben köteles valamely bábuját mozgatni. A bábu mozgatásnak nem szabad sakkba helyeznie a saját királyt.
  A sakkban előforduló bábuk igen változatosak:</p>
<ul>
  <li>
    <strong>Gyalog</strong>: Minden játékos 8 darab gyaloggal kezd. Ezek csak előrefelé mozoghatnak, alap esetben egyet léphetnek, de a kezdőpozíciójukból indulva 2-t is léphetnek.
    A gyalog egy egyedi bábú, abban a tekintetben hogy nem léphet visszafelé, és csak átlósan üthet.
  </li>
  <li>
    <strong>Bástya</strong>: A bástya vízszintesen és függőlegesen tetszőleges irányba, tetszőleges távolságba léphet, nem ugorhat át azonban más bábukat.
  </li>
  <li>
    <strong>Huszár</strong>: A huszár L alakban léphet (2-t előre, egyet oldalra, 2-t oldalra egyet előre stb.), és átugorhat más bábukat is.
  </li>
  <li>
    <strong>Futó</strong>: A futó átlósan léphet tetszőleges számút.
  </li>
  <li>
    <strong>Vezér/Királynő</strong>: A vezér léphet vízszintesen és átlósan is tetszőleges számút.
  </li>
  <li>
    <strong>Király</strong>: A király tetszőleges irányba léphet, azonban csak egyet.
  </li>
</ul>
<h5>A játék menete</h5>
<p>A játékot mindig a fehér játékos kezdi, ezután felváltva lépnek a játékosok, ameddig, valamelyikük királya sakkmattba nem kerül,
  vagy nem alakul ki patt helyzet.</p>
<h4 #connect4>Connect4</h4>
<div class="d-flex justify-content-center">
  <img src="../../../assets/connect4-table.jpg" class="w-50 h-auto" alt="Connect4 tábla">
</div>
<h5>A játék célja</h5>
<p>A játék célja, hogy a játékos vízszintesen, függőlegesen vagy valamely irányba átlósan egy vonalba 4 saját korongját elhelyezze a táblán.
  Ha ez a helyzet bekövetkezik a játékos nyer, ha az ellenfélnek sikerül elérnie ezt az állapotot, a játékos veszít.
  Amennyiben a tábla megtelik anélkül, hogy bármelyik játékosnak sikerülne nyernie, úgy a meccs dötnetlennel zárul</p>
<h5>A játék menete</h5>
<p>A játékot mindig a piros játékos kezdi. A játékosoknak minden körben választani kell egy oszlopot, amelybe "bedobják" a korongjukat.
  Nem választható olyan oszlop amely már megtelt. A korong a bedobást követően az oszlop legalsó mezejére esik.</p>
